<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header class="bg-info text-white mat-card-header">
        <span>Todo List</span>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <span matTooltip="Add Todo">
          <button mat-mini-fab color="basic">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </mat-card-header>
    </mat-card>
  </div>
  <!-- column -->
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70">
    <mat-card>
      <mat-card-header class="bg-info text-white mat-card-header">
        Todos
      </mat-card-header>
      <mat-card-content>
        <app-todo-list></app-todo-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
      <mat-card>
        <mat-card-header class="bg-info text-white mat-card-header">
          Tags
        </mat-card-header>
        <mat-card-content>
          List with tags
        </mat-card-content>
      </mat-card>
    </div>
</div>
